@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrap {
  @apply float-left mr-4;
  shape-outside: image();
  shape-margin: 1rem; /* Adjust this value to create space around the image */
}

#terminalEditor {
  /* display: flex; */
  /* align-items: start !important; */
  font-size: 13px;
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
  /* opacity: 0.7; */
  /* border-radius: 30; */
  /* width: 200px !important; */
}

.index_terminal__teubZ {
  width: 800px !important;
}
