@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth !important;
  background-color: black;
}

.text-wrap {
  @apply float-left mr-4;
  shape-outside: image();
  shape-margin: 1rem; /* Adjust this value to create space around the image */
}

#terminalEditor {
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
}

.my-terminal-wrapper {
  background: linear-gradient(to bottom, rgb(139 92 246 / 0.1), rgba(0, 0, 0, 0.5)) !important;
    --tw-backdrop-blur: blur(12px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important; */
  /* background-color: rgb(139 92 246 / 0.1) !important; */
}

.my-terminal-wrapper * div {
  background-color: transparent !important
}

@media (max-width: 768px) {
  #terminalEditor {
    font-size: 12px;
    line-height: 1.4;
  }
}

@keyframes twinkle {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 0.2; }
}

.starfield {
  background: #222338;
  position: relative;
}

.starfield::before {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: radial-gradient(rgb(136, 0, 255) 1px, transparent 1px);
  background-size: 3px 3px;
  animation: twinkle 5s infinite ease-in-out;
  opacity: 0.3;
}

.alice-carousel__stage-item{
    padding: 0 0 0 30px !important;
}
.alice-carousel__stage-item:nth-child(1 of .__active) {
    padding: 0 !important;
}

@media print {
  html,
  body {
    background: white !important;
  }

  /* Mata QUALQUER imagem, gradiente ou efeito visual */
  *,
  *::before,
  *::after {
    background: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    filter: none !important;
  }

  /* Garante que o CV continue branco */
  article {
    background: white !important;
  }
}
