@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrap {
  @apply float-left mr-4;
  shape-outside: image();
  shape-margin: 1rem; /* Adjust this value to create space around the image */
}

#terminalEditor {
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
}

@media (max-width: 768px) {
  #terminalEditor {
    font-size: 10px;
    line-height: 1.4;
  }
}

